[submodule "minimap2"]
	path = minimap2
	url = https://github.com/lh3/minimap2.git
	branch = master
[submodule "sga"]
	path = sga
	url = https://github.com/jts/sga.git
	branch = master
[submodule "CTPL"]
	path = CTPL
	url = https://github.com/vit-vit/CTPL.git
	branch = master
[submodule "SeqLib"]
	path = SeqLib
	url = git@github.com:cgroza/SeqLib.git
