[submodule "SeqLib"]
	path = SeqLib
	url = https://github.com/walaj/SeqLib.git
	branch = master
[submodule "minimap2"]
	path = minimap2
	url = https://github.com/lh3/minimap2.git
	branch = master
[submodule "sga"]
	path = sga
	url = https://github.com/jts/sga.git
	branch = master
